<!DOCTYPE html>
<html lang="en">
<head>
   
    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Thinking Errors</title>
    <link rel="stylesheet" href="cbtpage2css/journaling.css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="cbtpage2css/font-awesome/css/font-awesome.min.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="cbtpage2css/bootstrap/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="cbtpage2css/style.css">
    
</head>
<body>
    <section id="journaling">
        <div id="about-01">
           <h2 class="heading"><br><strong>Thinking Error</strong></h2>
                <div class="container">
                 <div class="articles-container">
                <article class="card card-grid">
                    <img src="cbtpage5image/noun_remove user_3025628.png"class="img-size"alt="Ent1">
                     <div class="category">
                        <h3>Ignoring the Good</h3>
                        <p> You pay more attention to bad things, and ignore when something good happens
                            </p>
                    </div>
                     </article>
                       <article class="card card-grid">
                    <img src="cbtpage5image/noun_Bomb_49699.png"class="img-size"alt="Ent1">
                     <div class="category">
                        <h3>Blowing Things Up</h3>
                        <p> Making a really big deal out of something small, or making something a little bit bad seem like the worst thing ever</p>
                    </div>
                     </article>
                       <article class="card card-grid">
                    <img src="cbtpage5image/noun_Crystal Ball_4050996.png"class="img-size"alt="Ent1">
                     <div class="category">
                        <h3>Fortune Telling</h3>
                        <p> Thinking You know what will happen in the future, and that it will be bad </p>
                    </div>
                     </article>
                    </div>
            </div>
        </div>
        <div id="about-01">
                 <div class="container">
                  <div class="articles-container">
                 <article class="card card-grid">
                     <img src="cbtpage5image/noun_mind reading_1917170.png"class="img-size"alt="Ent1">
                     
                      <div class="category">
                         <h3>Mind Reading</h3>
                         <p> Believing you know what someone else is thinking, or why they are doing something, without having
                            enough information</p>
                     </div>
                      </article>
                        <article class="card card-grid">
                     <img src="cbtpage5image/noun_Tag_47048.png"class="img-size"alt="Ent1">
                     
                      <div class="category">
                         <h3>Negative Labeling./h3>
                         <p> Having a negative belief about yourself and
                            thinking it applies to everything you do</p>
                     </div>
                      </article>
                        <article class="card card-grid">
                     <img src="cbtpage5image/noun_winner_1932389.png"class="img-size"alt="Ent1">
                      <div class="category">
                         <h3>Setting the Bar Too High</h3>
                         <p> Thinking that you must be perfect in
                            everything you do, otherwise you’re no good</p>
                     </div>
                      </article>
                     </div>
             </div>
         </div>
         <div id="about-01">
                 <div class="container">
                  <div class="articles-container">
                 <article class="card card-grid">
                     <img src="cbtpage5image/noun_Tag_47048.png"class="img-size"alt="Ent1">
                      <div class="category">
                         <h3>Feelings as Facts</h3>
                         <p> Believing that if you feel something, it must
                            be true</p>
                     </div>
                      </article>
                        <article class="card card-grid">
                     <img src="cbtpage5image/noun_blame_2831579.png"class="img-size"alt="Ent1">
                     
                      <div class="category">
                         <h3>Self-blaming</h3>
                         <p> Blaming yourself for anything that goes wrong
                            around you, even if you had nothing to do with it</p>
                     </div>
                      </article>
                        <article class="card card-grid">
                     <img src="cbtpage5image/noun_Cross_2364447.png"class="img-size"alt="Ent1">
                      <div class="category">
                         <h3>“Should” Statements </h3>
                         <p>Believing things have to be a certain way</p>
                     </div>
                      </article>
                     </div>
             </div>
         </div>
    </section>
</body>
</html>