<!DOCTYPE html>
<html lang="en">
<head>
   
    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Journaling</title>
    <link rel="stylesheet" href="cbtpage4css/journaling.css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="cbtpage4css/font-awesome/css/font-awesome.min.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="cbtpage4css/bootstrap/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="cbtpage4css/style.css">
    
</head>
<body>
    <section id="worrying">
        <div id="about-01">
           <h2 class="heading"><br><strong>Core Beliefs</strong></h2>
               <h3>Examining the evidence</h3>
                <div class="container">
             
                <p class="top">Core beliefs are a person’s most central ideas about themselves, others, and the world. These beliefs act like a lens through which every situation and life experience is seen. </p>
                  <p class="top">As a person has new experiences, their core beliefs may gradually change. However, some experiences have a greater impact than others. Information that supports a core belief is easily integrated, making the belief stronger. Information that does not support a belief tends to be ignored.</p>
                   <div class="card">
                   <p class="inside">Core beleif</p>
                    <h2 class="heading"><br><strong>No one likes me.</strong></h2>
            </div>
            <div class="card-grid">
           <i class=" fa fa-arrow-down fa-4x icon"></i>
               <i class=" fa fa-arrow-down fa-4x icon2"></i>
                    </div>
              <div class="card-grid">
               <div class="card2">
                   <p class="inside">information that supports my core beleif</p>
                   <hr>
                     <p class="inside">Accepted</p>
                     <i>Information I integrated into my core belief.</i>
                     <p class="inside">My friend didn’t answer the phone when i called the phone when I called.</p>
                      <p class="inside">The cashier at the grocery store was unfriendly.</p>
                       <p class="inside">My boss gave me some negative feedback at work.</p>
            </div>
             <div class="card2">
                   <p class="inside">information that does not support my core beleif</p>
                   <hr>
                    <table>
                      <tr>
                        <th><p>Rejected</p><i>Information I did not integrate into my core beleif</i></th>
                        <th><p>Modified</p> <i>Information I modified before integrating into my core belief.</i></th>
                        </tr>
                         <tr>
                        <th><p>I was invited to a coworker's birthday party</p></th>
                        <th><p>I was asked out on a date …but it must’ve been out of pity</p></th>
                        </tr>
                         <tr>
                        <th><p>Customers at my job always seem happy to talk with me.</p></th>
                        <th><p>I’m close with my parents …but they’re my parents, so they don’t count.</p></th>
                        <tr>
                         <th><p>My friend called to check in when I was sick.</p></th>
                        <th><p>My friend gave me a birthday present …but only because I gave them one</p></th>
                        </tr>
                    
                 </table>
                 </div>
               </div>
               
             <h2 class="heading"><br><strong>Core Beliefs</strong></h2>
               <h3>Examining the evidence(Worksheet)</h3>
                <div class="card">
                   <p class="inside">Core beleif</p>
                   <textarea placeholder="Write your Answer" id="answer" name="answer" rows="7" cols="60"></textarea>
                </div>
            <div class="card-grid">
           <i class=" fa fa-arrow-down fa-4x icon"></i>
               <i class=" fa fa-arrow-down fa-4x icon2"></i>
                    </div>
                   <div class="card-grid">
               <div class="card2">
                   <p class="inside">information that supports my core beleif</p>
                   <hr>
                     <p class="inside">Accepted</p>
                     <i>Information I integrated into my core belief.</i>
                      <textarea placeholder="Write your Answer"id="answer" name="answer" rows="7" cols="60"></textarea>
                     </div>
                      <div class="card2">
                   <p class="inside">information that does not support my core beleif</p>
                   <hr>
                    <table>
                      <tr>
                        <th><p>Rejected</p><i>Information I did not integrate into my core beleif</i></th>
                        <th><p>Modified</p> <i>Information I modified before integrating into my core belief.</i></th>
                        </tr>
                         <tr>
                        <th> <textarea placeholder="Write your Answer" id="answer" name="answer" rows="10" cols="25"></textarea></th>
                        <th> <textarea placeholder="Write your Answer" id="answer" name="answer" rows="10" cols="25"></textarea></th>
                        </tr>
                    
                 </table>
                 </div>
                    </div> 
            </div>
        </div>
    </section>
</body>
</html>