<!DOCTYPE html>
<html lang="en">
<head>
   
    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Worrying Questions</title>
    <link rel="stylesheet" href="css/journaling.css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="cbtpage3css/font-awesome/css/font-awesome.min.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="cbtpage3css/bootstrap/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="cbtpage3css/style.css">
    
</head>
<body>
    <section id="worrying">
        <div id="about-01">
           <h2 class="heading"><br><strong>What Could Happen vs. What Will Happen</strong></h2>
                <div class="container">
             
                <p>When you are worried about something, it’s easy to imagine the worst thing that could possibly happen. In reality, these worries may never come true. What could happen isn’t the same as what will happen. </p>
                   <div class="card">
                <h2> Q.What is something you are worried about?</h2>
                <textarea id="message" rows="9" cols="130" ></textarea>
                

            </div>
            <div class="container">
                <p>Thinking about what will happen, instead of what could happen, can help you worry
                less. Whenever you start to worry, answer these questions:</p>
                <div class="card">
                <h2> Q.What are some clues that your worry will not come true?</h2>   
                <textarea id="message" rows="9" cols="130" ></textarea> 
            </div>
            <div class="card">
                <h2> Q.If your worry does not come true, what will probably happen instead?</h2>   
                <textarea id="message" rows="9" cols="130" ></textarea> 
            </div>
            <div class="card">
                <h2> Q.If your worry does come true, how will you handle it? Will you eventually be okay?</h2>   
                <textarea id="message" rows="9" cols="130" ></textarea> 
            </div>
            <div class="card">
                <h2> Q.After answering these questions, how has your worry changed?</h2>   
                <textarea id="message" rows="9" cols="130" ></textarea> 
            </div>
            </div>    
        </div>
    </section>
</body>
</html>