<!DOCTYPE html>
<html lang="en">
<head>
   
    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Cross-sectional CBT Model</title>
    <link rel="stylesheet" href="cbtpage6css/journaling.css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="cbtpage6css/font-awesome/css/font-awesome.min.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="cbtpage6css/bootstrap/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="cbtpage6css/style.css">
    
</head>
<body>
    <section id="worrying">
        <div id="about-01">
           <h2 class="heading"><br><strong>How to Use the Cross-sectional CBT Model</strong></h2>
               <p class="first"><strong>The Trigger:</strong>: Start by identifying the trigger.
                This could be a difficult situation or event, something that someone says or does, an internal </p>
                <p class="first"><strong>Thoughts:</strong>Try to identify any negative, unrealistic or unwanted thoughts in response to the trigger. Examples could include “I can’t cope with this”, “I will look stupid”, “I am not good enough”, “They don’t like me”, “I must avoid mistakes”, “There is no point trying”.<p>
                 <p class="first"><strong>Feelings:</strong>These include our emotional responses to our thoughts and can include anxiety, depression, anger, jealousy, resentment, hurt,guilt or shame.</p>
                 <p class="first"><strong>Behaviour</strong>This involves anything that we do or avoid doing. We sometimes distinguish between external and internal behaviours.External behaviours are often easier to identify and include visible reactions or observable behaviours such as using our body language, withdrawing, avoiding, procrastinating, arguing, reassurance seeking and checking. Internal behaviour can include the things we do in our mind such as overanalysing, worrying and ruminating. </p>
                 <p class="first"><strong>Physical Sensation:</strong>We often notice unpleasant or uncomfortable feelings in the body. This can include tension, fatigue, physical irritability, shaking, feeling nausious or pain. Body sensations can arise from distressing thoughts and feelings as well as causing negative thoughts, unhelpful behaviours and distressing emotional feelings in turn.  </p>
                
                <div class="container">
              <div class="card-grid">
               <div class="card">
                   <h2 class="heading"><br><strong>Thoughts</strong></h2>
                     <p class="inside">“I can’t cope with this”, “I will look stupid”, “I am not good enough”, “They don’t like me”, “I always mess it up”, “Iam a loser”, “There is no point trying”</p>
            </div>
            <div class="section">
            <div class="card2">
                   <h2 class="heading"><br><strong>Trigger</strong></h2>
                     <p class="inside">Unfamiliar Social Situation</p>
            </div>
            <i class="fa fa-arrows-h fa-4x icon3" aria-hidden="true"></i>
            </div>
            <div class="card">
                   <h2 class="heading"><br><strong>Feelings</strong></h2>
                     <p class="inside">Anger, Anxiety, , Bitterness, Boredom, Depression, Disgust, Despair, Embarrassment, Envy, Fear, Guilt, Hurt, Resentment, Shame , Vulnerability.</p>
            </div>
               </div>
               <div class="card-grid">
             
          <i class="fa fa-arrows-v icon4" aria-hidden="true"></i>
          <i class="fa fa-arrows-alt icon4" aria-hidden="true"></i>
          <i class="fa fa-arrows-v icon4" aria-hidden="true"></i>

               </div>
                <div class="card-grid">
               <div class="card">
                   <h2 class="heading"><br><strong>Behaviours</strong></h2>
                     <p class="inside">Overanalysing, worrying, ruminating, self-criticising, using negative body language, withdrawing, avoiding, procrastinating, arguing, reassurance seeking, escaping, checking.</p>
            </div>
            <div class="section">
            <i class="fa fa-arrows-h fa-4x icon5" aria-hidden="true"></i>
            </div>
            <div class="card">
                   <h2 class="heading"><br><strong>Bodily Sensations</strong></h2>
                     <p class="inside">Tension, Fatigue, Physical Irritability, Shaking, Hot Sweats, Cold chills, Nausea, Pain, Tightness, discomfort, Breathlessness, Dizziness, Palpitations.</p>
            </div>
               </div>
               <section id="section2">
               <div class="card-grid">
               <div class="card">
                   <h2 class="heading"><br><strong>Thoughts</strong></h2>
                    <p><textarea placeholder="Write here" id="answer" name="answer" rows="5" cols="30"></textarea></p>
            </div>
            <div class="section">
            <div class="card2">
                   <h2 class="heading"><br><strong>Trigger</strong></h2>
                     <p><textarea placeholder="Write here" id="answer" name="answer" rows="5" cols="30"></textarea></p>
            </div>
            <i class="fa fa-arrows-h fa-4x icon3" aria-hidden="true"></i>
            </div>
            <div class="card">
                   <h2 class="heading"><br><strong>Feelings</strong></h2>
                     <p><textarea placeholder="Write here" id="answer" name="answer" rows="5" cols="30"></textarea></p>
            </div>
               </div>
               <div class="card-grid">
             
          <i class="fa fa-arrows-v icon4" aria-hidden="true"></i>
          <i class="fa fa-arrows-alt icon4" aria-hidden="true"></i>
          <i class="fa fa-arrows-v icon4" aria-hidden="true"></i>

               </div>
                <div class="card-grid">
               <div class="card">
                   <h2 class="heading"><br><strong>Behaviours</strong></h2>
                      <p><textarea placeholder="Write here" id="answer" name="answer" rows="5" cols="30"></textarea></p>
            </div>
            <div class="section">
            <i class="fa fa-arrows-h fa-4x icon5" aria-hidden="true"></i>
            </div>
            <div class="card">
                   <h2 class="heading"><br><strong>Bodily Sensations</strong></h2>
                      <p><textarea placeholder="Write here" id="answer" name="answer" rows="5" cols="30"></textarea></p>
            </div>
               </div>
               </section>
               
            </div>
        </div>
    </section>
</body>
</html>