<!DOCTYPE html>
<html lang="en">
<head>
   
    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Anxiety Coping</title>
    <link rel="stylesheet" href="cbtpage2css/journaling.css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="cbtpage2css/font-awesome/css/font-awesome.min.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="cbtpage2css/bootstrap/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="cbtpage2css/style.css">
    
</head>
<body>
    <section id="journaling">
        <div id="about-01">
           <h2 class="heading"><br><strong>Anxiety Coping Cards</strong></h2>
                <div class="container">
                 <div class="articles-container">
                <article class="card card-grid">
                    <img src="cbtpage2image/talk.png"class="img-size"alt="Ent1">
                     <div class="category">
                        <h3>Talk About It</h3>
                        <p>Talking about your feelings is
                            one of the most powerful
                            ways to control them. Tell a
                            trusted person, like a parent,
                            friend, teacher, or counselor
                            what you’re worried about. Try
                            using this sentence to get
                            started:
                            “I feel worried when _____.”
                            </p>
                    </div>
                     </article>
                       <article class="card card-grid">
                    <img src="cbtpage2image/hobby.png"class="img-size"alt="Ent1">
                     <div class="category">
                        <h3>Practice a Hobby</h3>
                        <p> Do any hobby that you think
                            might distract you from your
                            worry. Play an instrument,
                            paint, practice a new skill, play
                            a game, or do anything else
                            that you enjoy.</p>
                    </div>
                     </article>
                       <article class="card card-grid">
                    <img src="cbtpage2image/noun_favorite place_2204346.png"class="img-size"alt="Ent1">
                     <div class="category">
                        <h3>Favorite Place</h3>
                        <p> Think of a place where you
                            feel calm, comfortable, and
                            happy. It may be a beach, a
                            forest, your bedroom, or
                            somewhere else. Imagine
                            what this place looks and
                            sounds like and imagine how
                            good you feel when you’re
                            there.</p>
                    </div>
                     </article>
                    </div>
            </div>
        </div>
        <div id="about-01">
                 <div class="container">
                  <div class="articles-container">
                 <article class="card card-grid">
                     <img src="cbtpage2image/noun_think_4306448.png"class="img-size"alt="Ent1">
                      <div class="category">
                         <h3>Think About What Is</h3>
                         <p>When you worry, you probably
                            think of bad things that could
                            happen. Instead, try thinking of
                            what actually happens most of
                            the time. For example, instead
                            of thinking, “I’m worried I will
                            miss my school bus”, try
                            thinking “I’ve never missed my
                            bus before.”</p>
                     </div>
                      </article>
                        <article class="card card-grid">
                     <img src="cbtpage2image/noun_surround sound_9785.png"class="img-size"alt="Ent1">
                     
                      <div class="category">
                         <h3>Stop and Listen</h3>
                         <p>Spend a few minutes just
                            listening to the sounds around
                            you. What sounds do you
                            hear? Are they loud or soft?
                            Pay special attention to
                            interesting sounds you’ve
                            never noticed before.</p>
                     </div>
                      </article>
                        <article class="card card-grid">
                     <img src="cbtpage2image/noun_wings_2040205.png"class="img-size"alt="Ent1">
                      <div class="category">
                         <h3>Get Moving</h3>
                         <p>Get your energy out by being
                            active. Play a sport, ride your
                            bike, dance, swim, go for a
                            walk, or run around until you’re
                            tired.</p>
                     </div>
                      </article>
                     </div>
             </div>
         </div>
    </section>
</body>
</html>