<!DOCTYPE html>
<html lang="en">

<head>

  <!-- important meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Countering Negative Thoughts</title>
  <link rel="stylesheet" href="cbtpage7css/journaling.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="cbtpage7css/font-awesome/css/font-awesome.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="cbtpage7css/bootstrap/bootstrap.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="cbtpage7css/style.css">

</head>

<body>
  <div class="container">
    <section id="Facts">
      <h2 class="heading"><strong>Countering Negative Thoughts</strong></h2>
    </section>
    <section id="opinion">
      <p>These non-factual thoughts are opinions. This worksheet is designed to help you practice differentiating </p>
      <div class="table">
        <table>
          <tr>
            <th>
              <p><strong>Negative Thought</strong></p>
            </th>
            <th>
              <p><strong>Rational Counterstatement</strong></p>
            </th>
          </tr>
          <tr>
            <th>
              <p class="first">I got into trouble at work. They'll probably want to fire me soon because I can't do my
                job right.</p>
            </th>
            <th>
              <p><textarea
                  placeholder="Example: I made a mistake at work, but everyone does that from time to time. I usually get a lot of positive feedback about my work. I'll be careful not to make that same mistake again."
                  id="answer" name="answer" rows="5" cols="50"></textarea></p>
            </th>
          </tr>
          <tr>
            <th>
              <p class="first">My husband was angry yesterday and he yelled at me for not feeding the dog. I'm so
                irresponsible.</p>
            </th>
            <th>
              <p><textarea placeholder="Write here" id="answer" name="answer" rows="5" cols="50"></textarea></p>
            </th>
          </tr>
          <tr>
            <th>
              <p class="first">How will I ever get a date? Everyone else seems more fun than me.</p>
            </th>
            <th>
              <p><textarea placeholder="Write here" id="answer" name="answer" rows="5" cols="50"></textarea></p>
            </th>
          </tr>
        </table>
      </div>
    </section>
    <section>
      <p>Next, come up with three examples of negative thoughts and rational counterstatements from your own</p>
    </section>
    <section>
      <div class="table">
        <table>
          <tr>
            <th>
              <p><strong>Negative Thought</strong></p>
            </th>
            <th>
              <p><strong>Rational Counterstatement</strong></p>
            </th>
          </tr>
          <tr>
            <th>
              <p><textarea placeholder="Write here" id="answer" name="answer" rows="5" cols="50"></textarea></p>
            </th>
            <th>
              <p><textarea placeholder="Write here" id="answer" name="answer" rows="5" cols="50"></textarea></p>
            </th>
          </tr>
          <tr>
            <th>
              <p><textarea placeholder="Write here" id="answer" name="answer" rows="5" cols="50"></textarea></p>
            </th>
            <th>
              <p><textarea placeholder="Write here" id="answer" name="answer" rows="5" cols="50"></textarea></p>
            </th>
          </tr>
          <tr>
            <th>
              <p><textarea placeholder="Write here" id="answer" name="answer" rows="5" cols="50"></textarea></p>
            </th>
            <th>
              <p><textarea placeholder="Write here" id="answer" name="answer" rows="5" cols="50"></textarea></p>
            </th>
          </tr>
        </table>
      </div>
    </section>
  </div>
</body>

</html>