<!DOCTYPE html>
<html lang="en">
<head>
   
    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Journaling</title>
    <link rel="stylesheet" href="cbtpage1css/journaling.css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="cbtpage1css/font-awesome/css/font-awesome.min.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="cbtpage1css/bootstrap/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="cbtpage1css/style.css">
    
</head>
<body>
   <div class="container">
   <div class="card">
    <section id="Facts">
       <h2 class="heading"><strong>Fact Checking Thoughts Worksheet</strong></h2>
       <p>The Fact Checking Thoughts worksheet helps you to recognise that their thoughts are not necessarily</p>
       <h1>Thoughts are not facts.</h1>
        <p>It can be difficult to accept the idea that thoughts are not facts at first, especially when we are in the throes of an emotion. However, completing this page will help you come to this realisation.The worksheet contains 15 statements that the user must decide are either fact or opinion. These 
        statements include:</p>
        <ul>
          <li>“I’m not good enough”</li>
            <li>“I failed the test.”</li>
            <li>“This will be a disaster.”</li>
           <li>“I’m overweight.”</li>
           </ul>
           <p>Note, there is a correct answer for each statement. (In case you’re wondering, the right answers for the
            statements above are as follows: opinion, fact, opinion, fact).
            This simple exercise can help users see that while we have lots of emotionally charged thoughts, they are
            not all absolute truths. Recognising the difference between fact and opinion can assist us in challenging
            the <strong>dysfunctional</strong> or <strong>harmful opinions</strong> we have about ourselves and others.</p>
        
    </section>
    </div>
    <section id="opinion">
        <p>These non-factual thoughts are opinions. This worksheet is designed to help you practice differentiating </p>
        <div class="table">
        <table>
  <tr>
    <th><p><strong>Statement</strong></p></th>
    <th><p><strong>Fact</strong></p></th>
    <th><p><strong>Opinion</strong></p></th>
  </tr>
  <tr>
    <th><p class="first">I am dumb</p></th>
    <th><p><input type="checkbox"></p></th>
     <th><p><input type="checkbox"></p></th>
  </tr>
  <tr>
    <th><p class="first">I am unattractive</p></th>
    <th><p><input type="checkbox"></p></th>
     <th><p><input type="checkbox"></p></th>
  </tr>
  <tr>
    <th><p class="first">I failed the exam</p></th>
    <th><p><input type="checkbox"></p></th>
     <th><p><input type="checkbox"></p></th>
  </tr>
  <tr>
    <th><p class="first">I have no friends</p></th>
    <th><p><input type="checkbox"></p></th>
     <th><p><input type="checkbox"></p></th>
  </tr>
  <tr>
    <th><p class="first">Nobody likes me</p></th>
    <th><p><input type="checkbox"></p></th>
     <th><p><input type="checkbox"></p></th>
  </tr>
  <tr>
    <th><p class="first">I’m a selfish person</p></th>
    <th><p><input type="checkbox"></p></th>
     <th><p><input type="checkbox"></p></th>
  </tr>
  <tr>
    <th><p class="first">I’m overweight</p></th>
    <th><p><input type="checkbox"></p></th>
     <th><p><input type="checkbox"></p></th>
  </tr>
  <tr>
    <th><p class="first">I will be single forever</p></th>
    <th><p><input type="checkbox"></p></th>
     <th><p><input type="checkbox"></p></th>
  </tr>
  <tr>
    <th><p class="first">I dislike my job</p></th>
    <th><p><input type="checkbox"></p></th>
     <th><p><input type="checkbox"></p></th>
  </tr>
  <tr>
    <th><p class="first">I’m not good at my job</p></th>
    <th><p><input type="checkbox"></p></th>
     <th><p><input type="checkbox"></p></th>
  </tr>
  <tr>
    <th><p class="first">My family is disappointed in me</p></th>
    <th><p><input type="checkbox"></p></th>
     <th><p><input type="checkbox"></p></th>
  </tr>
  
  
</table>
    </div>
    <p>We tend to believe each and every thought we have is true; however, thoughts are not facts. While some thoughts we have may be factual (e.g. “I failed the test”), others may not (e.g., “I am dumb”).</p>



    </section>
    </div>
</body>
</html>