<!DOCTYPE html>
<html lang="en">
<head>
   
    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>CBT</title>
    <link rel="stylesheet" href="cbtmainpagecss/journaling.css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="cbtmainpagecss/font-awesome/css/font-awesome.min.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="cbtmainpagecss/bootstrap/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="cbtmainpagecss/style.css">
    
</head>
<body>
    <section id="journaling">
        <div id="about-01">
           <h2 class="heading"><br><strong>Cbt Techniques</strong></h2>
                <div class="container">
                 <div class="articles-container">
                <article class="card card-grid">
                    <img src="cbtmainpageimage/1.jpg"class="img-size"alt="Ent1">
                    <div>
                        <div class="category">
                        <h3>Fact Checking Thoughts Worksheet</h3>
                        <p>The Fact Checking Thoughts worksheet helps clients to recognise that their thoughts are not
                            necessarily true. It can be difficult to accept the idea that thoughts are not facts at first, especially when we are in
                            the throes of an emotion. However, completing this worksheet will help you come to this
                            realisation.</p>
                        <a href="cbt-page1" class="btn btn-general btn-gradient">Get In Touch</a>
                    </div>
                    </div>
                     </article>
                     <article class="card card-grid2">
                      <div>
                        <div class="category2">
                        <h3>Anxiety Coping</h3>
                        <p>The Coping Skills: Anxiety worksheet describes four strategies for reducing anxiety. Strategies include deep breathing, progressive muscle relaxation, imagery, and challenging irrational thoughts. These coping strategies can help your clients deal with anxiety when it arises, as well as contributing to long-term anxiety relief.</p>
                        <a href="cbt-page2" class="btn btn-general btn-gradient">Get In Touch</a>
                    </div>
                    </div>
                    <img src="cbtmainpageimage/2.jpg"class="img-size2"alt="Ent1">
                   </article>
                      <article class="card card-grid">
                    <img src="cbtmainpageimage/3.jpg"class="img-size"alt="Ent1">
                    <div>
                        <div class="category">
                        <h3>Worry Exploration Question</h3>
                        <p>When people worry, they tend to imagine the worst thing that could possibly happen. In reality, these worries may never come true. What could happen isn’t the same as what will happen. In the Worry Exploration Questions worksheet, clients are asked to consider their worry versus reality.</p>
                        <a href="cbt-page3" class="btn btn-general btn-gradient">Get In Touch</a>
                    </div>
                    </div>
                     </article>
                     <article class="card card-grid2">
                      <div>
                        <div class="category2">
                        <h3>Core Beleif</h3>
                        <p>Use this core beliefs worksheet to help educate clients and get them to think about how their thoughts affect their mood and behavior. This CBT worksheet can also serve as a good take-home reminder after having a discussion about core beliefs.</p>
                        <a href="cbt-page4" class="btn btn-general btn-gradient">Get In Touch</a>
                    </div>
                    </div>
                    <img src="cbtmainpageimage/4.jpg"class="img-size2"alt="Ent1">
                   </article>
                   <article class="card card-grid">
                    <img src="cbtmainpageimage/5.jpg"class="img-size"alt="Ent1">
                    <div>
                        <div class="category">
                        <h3>Thinking Error</h3>
                        <p>Thinking errors, commonly known as cognitive distortions, are irrational beliefs that contribute to uncomfortable emotions and unwanted behavior. Children as young as 7 years old can benefit from cognitive behavior therapy (CBT) interventions, but it is important that the material is presented in an age-appropriate manner</p>
                        <a href="cbt-page5" class="btn btn-general btn-gradient">Get In Touch</a>
                    </div>
                    </div>
                     </article>
                    
                    <article class="card card-grid2">
                      <div>
                        <div class="category2">
                        <h3>How to Use the Cross-sectional CBT Model</h3>
                        <p>A cross-sectional formulation takes a ‘snapshot’ of what is going on during a single moment in time. The Exploring Problems Using A Cross-Sectional Model worksheet identifies the key aspects of the cognitive behavioral therapy (CBT) model</p>
                        <a href="cbt-page6" class="btn btn-general btn-gradient">Get In Touch</a>
                    </div>
                    </div>
                    <img src="cbtmainpageimage/6.jpg"class="img-size2"alt="Ent1">
                   </article>
                   <article class="card card-grid">
                    <img src="cbtmainpageimage/7.jpg"class="img-size"alt="Ent1">
                    <div>
                        <div class="category">
                        <h3>Countering Negative Thoughts</h3>
                        <p>Thought logs are a standard CBT tool that can be used to help clients recognize and then challenge their irrational beliefs. This particular thought log includes examples of negative thoughts, and possible rational counter-statements</p>
                        <a href="cbt-page7" class="btn btn-general btn-gradient">Get In Touch</a>
                    </div>
                    </div>
                     </article>
                    </div>
            </div>
        </div>
    </section>
</body>
</html>