<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Aplomb</title>

    <!-- Basic SEO -->
    <!--The desc below the link in google comes from here-->
    <meta name="description" content="Creative and digital agency in Mumbai & Singapore with expertise in creative strategy, digital strategy, brand design, UI design, video and creative content.">
    <!--The keywords the we search on google are matched from here-->
    <meta name="keywords" content="UI, UX, Mobile App, Web Design, Web Development, Responsive website, Creative website, Video, Creative Content">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon/favicon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">

    <!--Line Icons-->
    <link rel="stylesheet" href="css/line-icons/line-icons.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl-carousel/owl.theme.default.min.css">

    <!-- Responsive Tabs CSS -->
    <link rel="stylesheet" href="css/responsive-tabs/responsive-tabs.min.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup/magnific-popup.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate/animate.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">


</head>

<body>
    
    <!-- PRE LOADER SECTION START-->
    <div class="loader" id="preloader">
        <div class="loader-inner">
            <div class="loader-blocks">
                <span class="block-1"></span>
                <span class="block-2"></span>
                <span class="block-3"></span>
                <span class="block-4"></span>
                <span class="block-5"></span>
                <span class="block-6"></span>
                <span class="block-7"></span>
                <span class="block-8"></span>
                <span class="block-9"></span>
                <span class="block-10"></span>
                <span class="block-11"></span>
                <span class="block-12"></span>
                <span class="block-13"></span>
                <span class="block-14"></span>
                <span class="block-15"></span>
                <span class="block-16"></span>
            </div>
        </div>
    </div>
    <!-- PRE LOADER SECTION END-->

    <!-- HOME SECTION START-->
    <section id="home">
        <!--BACKGROUND VIDEO-->
        <video poster="video/video.jpg" id="home-bg-video" autoplay muted loop>
            <source src="video/aplomb.mp4" type="video/mp4">
            {{!-- <source src="video/video.webm" type="video/webm"> --}}
        </video>
        <!--/BACKGROUND VIDEO-->

        <!--OVERLAY-->
        <div class="home-overlay"></div>
        <!--/OVERLAY-->

        <!--HOME CONTENT-->
        <div class="home-content">
            <div class="home-content-inner text-center">
                <h1 class="home-heading"> <span class="animated fadeInDownBig"> <span class="colored-text">Aplomb</span></span>
                    <br> <span class="animated fadeInLeftBig">Self Assurance and Confidence</span>
                </h1>
                <p class="home-desc">Meditate,Journal,Learn about CBT.</p>

                <div class="home-btn">
                    <a href="#about" class="btn btn-general btn-gradient" title="Get Early Bird Access">Know More</a>
                </div>
            </div>
        </div>
        <!--/HOME CONTENT-->

        <!--DOWN ARROW-->
        <a href="#about" class="arrow-down">
            <i class="lni lni-scroll-down animated fadeInDown infinite"></i>
        </a>
        <!--/DOWN ARROW-->
    </section>
    <!-- HOME SECTION END-->

    <!--ABOUT SECTION-->
    <section id="about">

        <!--About 01 White Background-->
        <div id="about-01">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                        <!--About Left Side-->
                        <div class="col-md-6">
                            <div class="vertical-heading">
                                <h5>Know Us</h5>
                                <h2>A <strong>Story</strong> <br>About Us</h2>
                            </div>
                        </div>
                        <!--About Left Side-->

                        <!--About Right Side-->
                        <div class="col-md-6">
                            <div id="about-right">
                                <p>Hi! We are Aplomb we work on the basic principles of CBT.</p>
                                <p>This website is about how to move from suffering to engagement with life.Engaging in the process of CBT is indeed a journey, one that can be challenging and arduous, but one that is also exciting and rewarding.Cognitive behavioral therapy (CBT) is a form of psychological treatment that has been demonstrated to be effective for a range of problems including depression, anxiety disorders, alcohol and drug use problems, marital problems, eating disorders, and severe mental illness.</p>
                                
                            </div>
                        </div>
                        <!--About Right Side-->
                    </div>
                    <!--/.row-->

                    <div class="row">
                        <div class="col-md-12">
                            <div id="about-bottom">
                                <img src="img/about/about.jpeg" alt="About Us" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--About 01 White Background Ends-->

        <!--About 02 Grey Background-->
        <div id="about-02" class="grey-bg">
            <div class="content-box-md">
                <div class="container">
                    <div class="row">

                        <a class="col-md-4" target="_blank" cursor="pointer" href="/meditation">
                            <div class="about-item text-center">
                                <i class="lni-handshake"></i>
                                <h3>Meditate With Us</h3>
                                <hr>
                                <p>Meditation is a mental exercise that involves relaxation, focus, and awareness.Practice the action of meditating</p>
                            </div>
                        </a>

                        <a class="col-md-4" target="_blank" cursor="pointer" href="/journalling">
                            <div class="about-item text-center">
                                <i class="lni-book"></i>
                                <h3>Journal With Us</h3>
                                <hr>
                                <p>Whether you want to manage stress, get organised or boost your creativity, use these journaling techniques for any situation</p>
                            </div>
                        </a>

                        <a class="col-md-4" target="_blank" cursor="pointer" href="/cbt">
                            <div class="about-item text-center">
                                <i class="lni-seo-monitoring"></i>
                                <h3>Powerful cbt techniques</h3>
                                <hr>
                                <p>Cognitive behavioral therapy is a technique that can help people find new ways to behave by changing their thought patterns. </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--About 02 Grey Background Ends-->
    </section>
    <!--ABOUT SECTION END-->

    <!-- TEAM SECTION -->
    <section id="team">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="vertical-heading">
                            <h5>Who We Are</h5>
                            <h2>Meet Our <br><strong>Talented</strong> Team</h2>
                        </div>
                        <p>
                            This is the team that has come together to create a whole different world to spread awareness about mental health.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div id="team-members" class="owl-carousel owl-theme">
                            <!--Member 01-->
                            <div class="team-member">
                                <img src="img/team/aryan2.jpg" alt="team member" class="img-responsive">
                                <div class="team-member-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Aryan Jaiswal</h6>
                                        <p>Backend Developer</p>
                                        <ul class="social-list">
                                            <li class="fb-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li class="google-plus-icon"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Member 01 End-->

                            <!--Member 02-->
                            <div class="team-member">
                                <img src="img/team/team-2.jpeg" alt="team member" class="img-responsive">
                                <div class="team-member-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Keyul Jain</h6>
                                        <p>Database Developer</p>
                                        <ul class="social-list">
                                            <li class="fb-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li class="google-plus-icon"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Member 02 End-->

                            <!--Member 03-->
                            <div class="team-member">
                                <img src="image/Niharika.jpg" alt="team member" class="img-responsive">
                                <div class="team-member-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Niharika Joshi</h6>
                                        <p>Web Developer</p>
                                        <ul class="social-list">
                                            <li class="fb-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li class="google-plus-icon"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Member 03 End-->

                            <!--Member 04-->
                            <div class="team-member">
                                <img src="img/team/shrey.jpg" alt="team member" class="img-responsive">
                                <div class="team-member-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Shrey Kadam</h6>
                                        <p>Web Design</p>
                                        <ul class="social-list">
                                            <li class="fb-icon"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li class="google-plus-icon"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--Member 04 End-->                          

                            
                        </div>
                    </div>
                </div>

                {{!-- <div id="progress-elements">
                    <!--Progress Bars-->
                    <div class="col-md-6">
                        <div class="skill">
                            <h4>Web Design</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><span>95%</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill">
                            <h4>Photoshop/Illustration</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><span>75%</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill">
                            <h4>Web Development</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><span>75%</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill">
                            <h4>Digital Marketing</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><span>90%</span></div>
                            </div>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>
    </section>
    <!-- TEAM SECTION END-->

    <!--Statement Section-->
    <section id="statement">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tech-statement text-center">
                            <h3><i class="fa fa-quote-left"></i> There is hope, even when your brain tells you there isn’t <i class="fa fa-quote-right"></i></h3>
                            {{!-- <p>&mdash; Daniel Watrous &mdash;</p> --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Statement Section End-->

    <!--Our Services Section-->
    <!--SERVICES SECTION-->
{{!-- 
    <!--SERVICES SECTION-->
    <section id="our-services">
        <div id="service-01">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="horizontal-heading">
                                <h5>What We Do</h5>
                                <h2>Our Services</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Our-Services Left Side-->
                        <div class="col-md-7">
                            <img src="img/services/service-main.jpg" alt="our-services" class="img-responsive">
                        </div>
                        <!-- Our-Services Left Side End-->

                        <!-- Our-Services Right Side-->
                        <div class="col-md-5 our-services-right">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="service-icon">
                                        <i class="lni-apartment"></i>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="services">
                                        <h6 class="green-color">SERVICE 01</h6>
                                        <h3>ERP &amp; HRMS</h3>
                                        <p>It focuses on essential business areas, such as finance, HR, production and materials management, customer relationship management.</p>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="service-icon">
                                        <i class="lni-laptop-phone"></i>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="services">
                                        <h6 class="green-color">SERVICE 02</h6>
                                        <h3>Web &amp; Mobile Applications</h3>
                                        <p>Web and mobile applications made easy to use being user-friendly along with cool UI. We also provide service for UX but you wont be able to afford us!</p>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="service-icon">
                                        <i class="lni-licencse"></i>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="services">
                                        <h6 class="green-color">SERVICE 03</h6>
                                        <h3>CMS</h3>
                                        <p>Software applications that are used to create and manage digital content along with content delivery application (CDA) and content management application (CMA).</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Our-Services Right Side End-->
                    </div>
                </div>
            </div>
        </div>
        <div id="services-02">
            <div class="content-box-md">
                <div id="services-tabs">
                    <ul class="text-center">
                        <li><a href="#service-tab-1">Creativity</a></li>
                        <li><a href="#service-tab-2">Strategy</a></li>
                        <li><a href="#service-tab-3">Design</a></li>
                        <li><a href="#service-tab-4">Development</a></li>
                    </ul>

                    <!-- SERVICE TAB 01 -->
                    <div id="service-tab-1" class="service-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="img/services/meditation.jpeg" alt="Creativity" class="img-responsive">
                                </div>
                                <div class="col-md-6">
                                    <div class="tab-bg">
                                        <h2>01</h2>
                                        <h3>Practise Meditation.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, illo, expedita. Voluptatem, facilis. Voluptates ullam repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum veritatis sequi, impedit sunt nam, possimus repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum.</p>

                                        <div>
                                            <a href="meditation.html" class="btn btn-general btn-gradient">Click here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SERVICE TAB 02 -->
                    <div id="service-tab-2" class="service-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="img/services/service-tab-img-02.jpg" alt="Strategy" class="img-responsive">
                                </div>
                                <div class="col-md-6">
                                    <div class="tab-bg">
                                        <h2>02</h2>
                                        <h3>The Home of Strategy</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, illo, expedita. Voluptatem, facilis. Voluptates ullam repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum veritatis sequi, impedit sunt nam, possimus repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum.</p>

                                        <div>
                                            <a href="#services" class="btn btn-general btn-gradient">Get In Touch</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SERVICE TAB 01 -->
                    <div id="service-tab-3" class="service-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="img/services/service-tab-img-03.jpg" alt="Design" class="img-responsive">
                                </div>
                                <div class="col-md-6">
                                    <div class="tab-bg">
                                        <h2>03</h2>
                                        <h3>Design to Play it Safe!</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, illo, expedita. Voluptatem, facilis. Voluptates ullam repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum veritatis sequi, impedit sunt nam, possimus repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum.</p>

                                        <div>
                                            <a href="#services" class="btn btn-general btn-gradient">Get In Touch</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SERVICE TAB 04 -->
                    <div id="service-tab-4" class="service-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="img/services/service-tab-img-04.jpg" alt="Development" class="img-responsive">
                                </div>
                                <div class="col-md-6">
                                    <div class="tab-bg">
                                        <h2>04</h2>
                                        <h3>From our Development To Yours.</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, illo, expedita. Voluptatem, facilis. Voluptates ullam repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum veritatis sequi, impedit sunt nam, possimus repellat nobis quisquam odit, esse obcaecati aliquam nulla laborum.</p>

                                        <div>
                                            <a href="#services" class="btn btn-general btn-gradient">Get In Touch</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section> --}}
    <!--Our Services Section End-->

    {{!-- <!--PORTFOLIO SECTION-->
    <section id="portfolio">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="vertical-heading">
                            <h5>Find Our Work</h5>
                            <h2>Our <br>Amazing <strong>Work</strong></h2>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div id="isotope-filters">
                            <button class="btn active" data-filter="*"><span>All</span></button>
                            <button class="btn" data-filter=".logo"><span>Logo</span></button>
                            <button class="btn" data-filter=".web"><span>Web</span></button>
                            <button class="btn" data-filter=".mobile"><span>Mobile</span></button>
                            <button class="btn" data-filter=".desktop"><span>Desktop</span></button>
                        </div>
                    </div>
                </div>
            </div>

            <section id="portfolio-wrapper">
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div id="isotope-container">

                            <div class="col-md-3 desktop web logo">
                                <div class="portfolio-item">
                                    <a href="img/portfolio/001.jpg" title="Add Description">
                                        <img src="img/portfolio/001.jpg" alt="" class="img-responsive">
                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-overlay-details text-center">
                                                <h3>Logo</h3>
                                                <span></span>
                                                <p>Desktop, Logo, Web</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 desktop">
                                <div class="portfolio-item">
                                    <a href="img/portfolio/002.jpg">
                                        <img src="img/portfolio/002.jpg" alt="" class="img-responsive">
                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-overlay-details text-center">
                                                <h3>Logo</h3>
                                                <span></span>
                                                <p>Desktop, Logo, Web</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>


                            <div class="col-md-3 desktop mobile">
                                <div class="portfolio-item">
                                    <a href="img/portfolio/003.jpg">
                                        <img src="img/portfolio/003.jpg" alt="" class="img-responsive">
                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-overlay-details text-center">
                                                <h3>Logo</h3>
                                                <span></span>
                                                <p>Desktop, Logo, Web</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 desktop web logo">
                                <div class="portfolio-item">
                                    <a href="img/portfolio/004.jpg">
                                        <img src="img/portfolio/004.jpg" alt="" class="img-responsive">
                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-overlay-details text-center">
                                                <h3>Logo</h3>
                                                <span></span>
                                                <p>Desktop, Logo, Web</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>


                            <div class="col-md-3 logo">
                                <div class="portfolio-item">
                                    <a href="img/portfolio/005.jpg">
                                        <img src="img/portfolio/005.jpg" alt="" class="img-responsive">
                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-overlay-details text-center">
                                                <h3>Logo</h3>
                                                <span></span>
                                                <p>Desktop, Logo, Web</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>


                            <div class="col-md-3  mobile logo">
                                <div class="portfolio-item">
                                    <a href="img/portfolio/006.jpg">
                                        <img src="img/portfolio/006.jpg" alt="" class="img-responsive">
                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-overlay-details text-center">
                                                <h3>Logo</h3>
                                                <span></span>
                                                <p>Desktop, Logo, Web</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3  web logo">
                                <div class="portfolio-item">
                                    <a href="img/portfolio/007.jpg">
                                        <img src="img/portfolio/007.jpg" alt="" class="img-responsive">
                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-overlay-details text-center">
                                                <h3>Logo</h3>
                                                <span></span>
                                                <p>Desktop, Logo, Web</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3  mobile ">
                                <div class="portfolio-item">
                                    <a href="img/portfolio/008.jpg">
                                        <img src="img/portfolio/008.jpg" alt="" class="img-responsive">
                                        <div class="portfolio-item-overlay">
                                            <div class="portfolio-item-overlay-details text-center">
                                                <h3>Logo</h3>
                                                <span></span>
                                                <p>Desktop, Logo, Web</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section> --}}
    <!--PORTFOLIO SECTION ENDS-->
    <!--Testimonial Section-->
    {{!-- <section id="testimonial">
        <section>
            <div class="content-box-sm">
                <div class="container">
                    <div class="row"></div>
                </div>
            </div>
        </section>
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="vertical-heading">
                            <h5>TESTIMONIALS</h5>
                            <h2>What Our <br> <strong class="green-color">Customers</strong> Say</h2>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="reviews" class="owl-carousel owl-theme">
                            <!-- Review 1 -->
                            <div class="review">
                                <div class="review-content">
                                    <div class="row row-01">
                                        <div class="col-md-9">
                                            <h2 class="m-0">Quality Support</h2>
                                        </div>
                                        <div class="col-md-3">
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                        </div>

                                    </div>
                                    <div class="row row-02">
                                        <div class="col-md-12">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facilis dolor reiciendis dignissimos doloribus commodi, rerum blanditiis ipsam repudiandae impedit quis, quod, quidem, modi mollitia natus asperiores sapiente quasi atque.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row row-03">
                                        <div class="col-md-2">
                                            <img src="img/testimonial/client-1.jpg" alt="client-1" class="img-responsive m-0">

                                        </div>
                                        <div class="col-md-10">
                                            <div class="client-desc">
                                                <p>Joq Martin</p>
                                                <p>Senior</p>
                                                <p>Developer</p>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Review 1 ends-->

                            <!-- Review 2 -->
                            <div class="review">
                                <div class="review-content">
                                    <div class="row row-01">
                                        <div class="col-md-9">
                                            <h2 class="m-0">Quality Support</h2>
                                        </div>
                                        <div class="col-md-3">
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                        </div>

                                    </div>
                                    <div class="row row-02">
                                        <div class="col-md-12">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facilis dolor reiciendis dignissimos doloribus commodi, rerum blanditiis ipsam repudiandae impedit quis, quod, quidem, modi mollitia natus asperiores sapiente quasi atque.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row row-03">
                                        <div class="col-md-2">
                                            <img src="img/testimonial/client-2.jpg" alt="client-1" class="img-responsive m-0">

                                        </div>
                                        <div class="col-md-10">
                                            <div class="client-desc">
                                                <p>Joq Martin</p>
                                                <p>Senior</p>
                                                <p>Developer</p>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Review 2 ends-->

                            <!-- Review 3 -->
                            <div class="review">
                                <div class="review-content">
                                    <div class="row row-01">
                                        <div class="col-md-9">
                                            <h2 class="m-0">Quality Support</h2>
                                        </div>
                                        <div class="col-md-3">
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                            <i class="lni-star-filled"></i>
                                        </div>

                                    </div>
                                    <div class="row row-02">
                                        <div class="col-md-12">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis facilis dolor reiciendis dignissimos doloribus commodi, rerum blanditiis ipsam repudiandae impedit quis, quod, quidem, modi mollitia natus asperiores sapiente quasi atque.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row row-03">
                                        <div class="col-md-2">
                                            <img src="img/testimonial/client-3.jpg" alt="client-1" class="img-responsive m-0">

                                        </div>
                                        <div class="col-md-10">
                                            <div class="client-desc">
                                                <p>Joq Martin</p>
                                                <p>Senior</p>
                                                <p>Developer</p>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Review 3 ends-->

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!--Testimonial Section End--> --}}

    {{!-- <!--Price Section-->
    <section id="price">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="horizontal-heading">
                        <h5>LOVELY CUSTOMERS</h5>
                        <h2>Our Pricing</h2>
                    </div>
                </div>
                <div class="row">
                    <!-- Price card 1-->
                    <div id="basic" class="col-md-4 price-card">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Basic</h2>
                            </div>

                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <span><sup class="dollar">&#36;</sup> <span class="price-tag">29</span></span>
                                <p class="duration">per Month</p>
                            </div>
                            <div class="col-md-8">
                                <p>You will get all the awesome services with this great price.
                                    <br>
                                    Get it now!
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <ul class="benefit-list">
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-check-mark-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>Full access</span>
                                    </div>
                                </li>
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-cross-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>Unlimited Bandwidth</span>
                                    </div>
                                </li>
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-check-mark-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>Powerful Admin Panel</span>
                                    </div>
                                </li>
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-check-mark-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>Email Accounts</span>
                                    </div>
                                </li>
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-cross-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>10 Free Web sites</span>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="row">
                            <div class="col-md-12 price-btn">
                                <a href="#home" class="btn btn-general btn-green">Get Started</a>
                            </div>
                        </div>

                    </div>
                    <!-- Price card 1 End-->

                    <!-- Price card 2-->
                    <div id="unlimited" class="col-md-4 price-card">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Unlimited</h2>
                            </div>

                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <span><sup class="dollar">&#36;</sup> <span class="price-tag">59</span></span>
                                <p class="duration">per Month</p>
                            </div>
                            <div class="col-md-8">
                                <p>You will get all the awesome services with this great price.
                                    <br>
                                    Get it now!
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <ul class="benefit-list">
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-check-mark-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>Full access</span>
                                    </div>
                                </li>
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-check-mark-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>Unlimited Bandwidth</span>
                                    </div>
                                </li>
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-check-mark-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>Powerful Admin Panel</span>
                                    </div>
                                </li>
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-check-mark-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>Email Accounts</span>
                                    </div>
                                </li>
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-cross-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>10 Free Web sites</span>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="row">
                            <div class="col-md-12 price-btn">
                                <a href="#home" class="btn btn-general btn-white">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <!-- Price card 2 End-->

                    <!-- Price card 3-->
                    <div id="professional" class="col-md-4 price-card">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Professional</h2>
                            </div>

                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <span><sup class="dollar">&#36;</sup> <span class="price-tag">99</span></span>
                                <p class="duration">per Month</p>
                            </div>
                            <div class="col-md-8">
                                <p>You will get all the awesome services with this great price.
                                    <br>
                                    Get it now!
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <ul class="benefit-list">
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-check-mark-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>Full access</span>
                                    </div>
                                </li>
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-check-mark-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>Unlimited Bandwidth</span>
                                    </div>
                                </li>
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-check-mark-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>Powerful Admin Panel</span>
                                    </div>
                                </li>
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-check-mark-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>Email Accounts</span>
                                    </div>
                                </li>
                                <li class="benefit">
                                    <div class="col-md-1">
                                        <i class="lni-check-mark-circle"></i>
                                    </div>
                                    <div class="col-md-11">
                                        <span>10 Free Web sites</span>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="row">
                            <div class="col-md-12 price-btn">
                                <a href="#home" class="btn btn-general btn-green">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <!-- Price card 3 End-->
                </div>
            </div>
        </div>
    </section>
    <!--Price Section End--> --}}

    <!--Client Section-->
    {{!-- <section id="clients">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="horizontal-heading">
                            <h5>satisfied clients</h5>
                            <h2>Our Happy <strong class="green-color">Clients</strong></h2>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div id="client-logos" class="owl-carousel owl-theme">
                        <div class="client">
                            <img src="img/client/client-1.png" alt="" class="img-responsive">
                        </div>
                        <div class="client">
                            <img src="img/client/client-2.png" alt="" class="img-responsive">
                        </div>
                        <div class="client">
                            <img src="img/client/client-3.png" alt="" class="img-responsive">
                        </div>
                        <div class="client">
                            <img src="img/client/client-4.png" alt="" class="img-responsive">
                        </div>
                        <div class="client">
                            <img src="img/client/client-5.png" alt="" class="img-responsive">
                        </div>
                        <div class="client">
                            <img src="img/client/client-6.png" alt="" class="img-responsive">
                        </div>
                        <div class="client">
                            <img src="img/client/client-7.png" alt="" class="img-responsive">
                        </div>
                        <div class="client">
                            <img src="img/client/client-8.png" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Client Section End--> --}}

    <!--News Section-->
    <section id="news">
        <div class="content-box-md grey-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="vertical-heading">
                            {{!-- <h5>latest news</h5> --}}
                            <h2>Latest<br> From <strong class="green-color">Blog</strong></h2>
                        </div>
                        <p></p>
                        <div class="home-btn">
                            {{!-- <a href="#about" class="btn btn-general btn-gradient" title="View All Posts">view all posts</a> --}}
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="col-md-6">
                            <!--Blog 1 -->
                            <div class="blog">
                                <h4>Tips for talking about mental health</h4>
                                <p>We know that opening up to mental health is not always easy. Doing small things can make a big difference for a friend, relative, or colleague who is struggling.</p>
                                <a href="https://www.time-to-change.org.uk/mental-health-stigma/tips-talking" class="green-color">READ MORE <i class="lni-chevron-right"></i></a>

                                <hr>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="author">
                                            {{!-- <img src="img/blog/user-1.jpg" alt=""> --}}
                                            <span class="name">Time to Change</span>
                                        </div>

                                    </div>
                                    <div class="col-md-7 text-right">
                                        <i class="lni-calendar"></i>
                                        {{!-- <span class="date">October 04,2021</span> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Blog 1 End-->

                        <!--Blog 2 -->
                        <div class="col-md-6">
                            <div class="blog">
                                <h4>Dear Therapist</h4>
                                <p>It is a column for The Atlantic by Lori Gottlieb, 
                                    She  tackle readers’ dilemmas, big and small, by sharing 
                                    how a therapist might think about the kinds of issues brought in by patients. 
                                </p>
                                <a href="https://www.theatlantic.com/projects/dear-therapist/" class="green-color">READ MORE <i class="lni-chevron-right"></i></a>

                                <hr>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="author">
                                            {{!-- <img src="img/blog/user-2.jpg" alt=""> --}}
                                            <span class="name">The Atlantic</span>
                                        </div>

                                    </div>
                                    <div class="col-md-7 text-right">
                                        <i class="lni-calendar"></i>
                                        {{!-- <span class="date">December 04,2019</span> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Blog 2 End-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--News Section End-->


     <!-- Contact Us Section-->
    <section id="contact-us">
        <div class="content-box-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="address">
                            <div class="vertical-heading">
                                <h5>Locate Us</h5>
                                <h2>Get <br> In <strong>Touch</strong></h2>
                               
                            </div>
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="country">
                                        <h4>India</h4>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="icon">
                                                    <i class="fa fa-mobile"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="contact-details">
                                                    <a href="tel:9876543210">+(91) 9876543210</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="icon">
                                                    <i class="fa fa-envelope"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="contact-details">
                                                    <a href="mailto:info@whitegraphics.com">aplomb@gmail.com</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="icon">
                                                    <i class="fa fa-map-marker"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="contact-details">
                                                    <p>Thadomal Shahani Engineering College , Bandra , Maharashtra , India</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us Section End-->
    <!-- JQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Owl Carousel JS -->
    <script src="js/owl-carousel/owl.carousel.min.js"></script>

    <!-- Waypoints -->
    <script src="js/waypoints/jquery.waypoints.min.js"></script>

    <!-- Responsive Tabs JS -->
    <script src="js/responsive-tabs/jquery.responsiveTabs.min.js"></script>

    <!-- Isotope -->
    <script src="js/isotope/isotope.pkgd.min.js"></script>

    <!-- Magnific Popup -->
    <script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Counter -->
    <script src="js/counter/jquery.counterup.min.js"></script>

    <!-- Google Map JS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVXqFZF9JEMJdig_6ZFsBJjIFZ57DI2ac&sensor=false"></script>

    <!-- Easing -->
    <script src="js/easing/jquery.easing.1.3.min.js"></script>

    <!-- WOW JS -->
    <script src="js/wow/wow.min.js"></script>

    <!-- Custom JS -->
    <script src="js/script.js"></script>
</body>

</html>
