<!DOCTYPE html>
<html lang="en">
<head>
   
    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Journaling</title>
    <link rel="stylesheet" href="journallingcss/journaling.css">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="journallingcss/font-awesome/css/font-awesome.min.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="journallingcss/bootstrap/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="journallingcss/style.css">
    
</head>
<body>
    <section id="journaling">
        <div id="about-01">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="vertical-heading">
                                <h5>Journaling</h5>
                                <h2><strong>Journal</strong> <br>It Out</h2>
                            </div>
                        </div>
                        
                        <div class="col-md-9 p-2 journal">
                            <div id="journal-text">
                                 <h2 class="m-heading text-center">Start Journaling</h2>
                                 <form action='/notes/' method="post">
                                     <div class="form-group p-2">
                                         <textarea name="content" id="message" rows="10" placeholder="How do you feel today"></textarea>
                                     </div>
                                     <div class="form-group text-center">
                                        <input type="Submit" value="Save" title="Save" class="btn btn-dark ">
                                     </div>
                                 </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>