/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */
/**********************************************************************************
********************************* GLOBAL ******************************************
***********************************************************************************/
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  color: #212226;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

section {
  background: #fff;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

/**********************************************************************************
********************************* GENERAL *****************************************
***********************************************************************************/
.colored-text {
  color: #5c9320;
}

[class^="lni-"],
[class*=" lni-"] {
  display: inline-block;
}
.green-color {
  color: #5c9320;
}
.m-0 {
  margin: 0;
}
.grey-bg {
  background: #f4f4f4;
}
/**********************************************************************************
********************************* HOME ********************************************
***********************************************************************************/
#home {
  height: 100%;
  background: none;
}

#home-bg-video {
  position: fixed; /*There would be some pbm here*/

  /* Make the video to be on the center of the screen, so that if the screen resizes video also resizes*/

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  /* Making image as fallback*/
  background: url("../video/video.jpg") no-repeat center;

  z-index: -1;
}
.home-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  z-index: -1;
}

.home-content {
  width: 100%;
  height: 100%;
  display: table;
}
.home-content-inner {
  display: table-cell;
  vertical-align: middle;
}
.home-heading {
  color: #fff;
  font-weight: 100;
  font-size: 5rem;
  text-transform: capitalize;
  margin: 0;
}
.home-heading .colored-text {
  font-weight: 500;
}

.home-desc {
  color: #fff;
  font-weight: 100;
  font-size: 17px;
  margin: 10px 0 30px;
}

.arrow-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: #fff;
  font-size: 32px;
  text-align: center;
}
.arrow-down:hover,
.arrow-down:focus {
  color: #5c9320;
}
/**********************************************************************************
**************************** BUTTONS ********************************************
***********************************************************************************/

.btn-general {
  font-family: "Raleway", sans-serif;
  border-radius: 28px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 12px 46px;
  transition: all 0.5s;
}
.btn-green {
  color: #fff;
  background: #5c9320;
}

.btn-white {
  color: #212226;
  background: #fff;
}

.btn-white:hover,
.btn-white:focus,
.btn-green:hover,
.btn-green:focus {
  color: #fff;
  background: #212226;
}

.btn-general.btn-gradient {
  color: #fff;
  background-size: 200%;
  background-image: linear-gradient(
    to right,
    #5c9320 0%,
    #63c600 51%,
    #5c9320 100%
  );
}
.btn-general.btn-gradient:hover {
  background-position: right;
}

/*
TODO: BRING TO TOP BUTTON NEEDS TO BE DESIGNED!
*/
/*****************************************************
                    PRE LOADER
*****************************************************/
.loader {
  /*
    width: 100%;
    height: 100%;
*/
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 8888;

  background-color: #63c600;
  background: linear-gradient(to right, #5c9320 2%, #63c600 82%);
}
.loader-inner {
  position: absolute;

  width: 100px;
  height: 100px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.loader-blocks {
  width: 60px;
  height: 60px;
}

.loader-blocks span {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 100%;

  opacity: 0;

  display: block;

  position: absolute;

  animation: load 4.6s ease-in-out infinite;
}

.loader-blocks span.block-1 {
  top: 0;
  left: 0;
  animation-delay: 1.07s;
}
.loader-blocks span.block-2 {
  top: 0;
  left: 16px;
  animation-delay: 0.97s;
}
.loader-blocks span.block-3 {
  top: 0;
  left: 32px;
  animation-delay: 0.87s;
}
.loader-blocks span.block-4 {
  top: 0;
  left: 48px;
  animation-delay: 0.67s;
}
.loader-blocks span.block-5 {
  top: 16px;
  left: 0;
  animation-delay: 0.57s;
}
.loader-blocks span.block-6 {
  top: 16px;
  left: 16px;
  animation-delay: 0.47s;
}
.loader-blocks span.block-7 {
  top: 16px;
  left: 32px;
  animation-delay: 0.37s;
}
.loader-blocks span.block-8 {
  top: 16px;
  left: 48px;
  animation-delay: 0.27s;
}
.loader-blocks span.block-9 {
  top: 32px;
  left: 0;
  animation-delay: 0.17s;
}
.loader-blocks span.block-10 {
  top: 32px;
  left: 16px;
  animation-delay: 0.07s;
}
.loader-blocks span.block-11 {
  top: 32px;
  left: 32px;
  animation-delay: -0.07s;
}
.loader-blocks span.block-12 {
  top: 32px;
  left: 48px;
  animation-delay: -0.17s;
}
.loader-blocks span.block-13 {
  top: 48px;
  left: 0;
  animation-delay: -0.17s;
}
.loader-blocks span.block-14 {
  top: 48px;
  left: 16px;
  animation-delay: -0.27s;
}
.loader-blocks span.block-15 {
  top: 48px;
  left: 32px;
  animation-delay: -0.37s;
}
.loader-blocks span.block-16 {
  top: 48px;
  left: 48px;
  animation-delay: -0.47s;
}

@keyframes load {
  0 {
    opacity: 0;
    transform: translateY(-100px);
  }
  15% {
    opacity: 0;
    transform: translateY(-100px);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  45% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
    transform: translateX(-100px);
  }
  85% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

/**********************************************************************************
********************************* CONTENT BOXES *****************************************
***********************************************************************************/
.content-box-lg {
  padding: 120px 0;
}
.content-box-md {
  padding: 105px 0;
}
.content-box-sm {
  padding: 80px 0;
}

/**********************************************************************************
************************ VERTICAL / HORIZONTAL HEADING *******************************
***********************************************************************************/
.horizontal-heading {
  text-align: center;
}
.vertical-heading h5,
.horizontal-heading h5 {
  color: #5c9320;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 9px;
}
.vertical-heading h5 {
  display: inline-block;
  transform: rotate(-90deg);
  position: relative;
  top: 60px;
  left: -55px;
}
.horizontal-heading h5 {
  margin-bottom: 10px;
}

.vertical-heading h2,
.horizontal-heading h2 {
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
}
.vertical-heading h2 {
  margin: 0 0 0 35px;
}
.horizontal-heading h2 {
  margin: 0;
}
.vertical-heading h2 strong,
.horizontal-heading h2 strong {
  color: #5c9320;
}

.vertical-heading,
.horizontal-heading {
  margin-bottom: 40px;
  position: absolute;
  top: 25vh;
}

/**********************************************************************************
**************************** ABOUT US SECTION *************************************
***********************************************************************************/

#about-right p {
  margin-bottom: 30px;
}
#about-bottom {
  margin-top: 60px;
}
#about-bottom img {
  margin: 0 auto;
}

#about-02 {
  background: #f4f4f4;
}
.about-item {
  background: #fff;
  /*    padding: 80px 30px;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;
}
.about-item i {
  font-size: 42px;
  margin: 0;
}
.about-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.about-item hr {
  width: 45px;
  height: 3px;
  background: #5c9320;
  margin: 0 auto;
  border: none;
}

.about-item p {
  margin-top: 20px;
}

/* Smooth Transition */
.about-item,
.about-item i,
.about-item h3,
.about-item hr,
.about-item p {
  transition: all 0.4s ease-in-out;
}

/*Hover State*/
.about-item:hover {
  background: #5c9320;
}
.about-item:hover h3,
.about-item:hover p {
  color: #fff;
}
.about-item:hover i {
  color: #fff;
  transform: translateY(-20px);
}
.about-item:hover hr {
  background-color: #fff;
}

/**********************************************************************************
**************************** TEAM SECTION *************************************
***********************************************************************************/
.team-member {
  position: relative;
}
.team-member-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 34, 48, 0.8);
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
}
.team-member-info {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.team-member-info h6 {
  color: #5c9320;
  font-size: 16px;
  margin: 0;
}
.team-member-info p {
  color: #fff;
}

.team-member:hover .team-member-overlay {
  opacity: 1;
  visibility: visible;
}

.skill {
  margin-bottom: 40px;
}
.skill h4 {
  line-height: 62px;
  margin: 0;
  font-weight: normal;
}
.progress {
  height: 12px;
  border-radius: 50px;
  background: #efefef;
  overflow: visible;
}
.progress-bar {
  background-image: linear-gradient(
    to right,
    #5c9320 0%,
    #63c600 51%,
    #5c9320 100%
  );
  border-radius: 50px;
  position: relative;
}
.progress-bar span {
  background: #212226;
  padding: 3px;
  position: absolute;
  right: -15px;
  top: -40px;
}
.progress-bar span:before {
  content: "";
  border-top: solid 8px #212226;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  bottom: -8px;
  left: 25%;
}
/**********************************************************************************
**************************** OWL NAVS **************************************
***********************************************************************************/
.owl-theme .owl-nav [class*="owl-"] {
  background: none;
  font-size: 40px;
  margin: 0;
  color: #212226;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
  color: #5c9320;
}
/**********************************************************************************
**************************** SOCIAL ICONS **************************************
***********************************************************************************/
ul.social-list {
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
ul.social-list li {
  display: inline-block;
  padding: 0;
}
ul.social-list li a {
  border: solid 1px #fff;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  transition: all 0.4s linear;
}
ul.social-list li.fb-icon a:hover {
  color: #fff;
  background: #3b5998;
}
ul.social-list li.twitter-icon a:hover {
  color: #fff;
  background: #00aced;
}
ul.social-list li.google-plus-icon a:hover {
  color: #fff;
  background: #dd4b39;
}
ul.social-list-black li a {
  border: solid 1px #000;
  color: #000;
}
/**********************************************************************************
**************************** STATEMENT SECTION *************************************
***********************************************************************************/
#statement {
  /*fixed is background-position: fixed - it will help the image look like parallax image*/
  background: url("../img/tech/tech-statement.jpg") no-repeat fixed center /
    cover; /* / cover wont work in safari */
  background-size: cover;
}
#statement .content-box-lg {
  background: rgba(0, 0, 0, 0.3);
}
.tech-statement h3 {
  color: #fff;
  width: 80%;
  font-size: 28px;
  line-height: 45px;
  margin: 0 auto;
}
.tech-statement p {
  color: #fff;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
}
/**********************************************************************************
**************************** Our-Services SECTION *************************************
***********************************************************************************/
#our-services .horizontal-heading {
  margin-bottom: 10rem;
}
.service-icon i {
  margin-top: 1rem;
  font-size: 4.5rem;
  transition: all 0.5s ease-in-out;
}
.service-icon:hover i {
  color: #5c9320;
  transform: translateX(-20px);
}
.services h3 {
  margin-top: 0;
}
.services p {
  line-height: 1.5;
}
.our-services-right .row {
  margin-bottom: 1.3rem;
}
/**** RESPONSIVE TABS SECTION ***/
#services-02 {
  background: #f4f4f4;
}
#services-02 ul {
  margin-bottom: 40px;
}
#services-02 ul li {
  padding: 5px 30px;
}

#services-02 ul li a {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: #212226;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0;
  text-decoration: none;
  border: solid 0px #fff;
}

#services-02 ul li.r-tabs-state-active a {
  color: #5c9320;
  font-weight: 700;
  border-bottom: solid 3px #5c9320;
  padding-bottom: 5px;
  transition: border-color 0.3s linear;
}

.service-tab .col-md-6 {
  padding: 0;
}
.service-tab img {
  width: 100%;
}
.service-tab .tab-bg {
  background: #fff;
  padding: 60px 30px;
  min-height: 481px;
}

.service-tab h2 {
  font-size: 48px;
  color: #bbb;
  margin-bottom: 20px;
  font-weight: 100;
}

.service-tab h3 {
  font-size: 32px;
  margin-bottom: 30px;
}
.service-tab p {
  line-height: 24px;
  margin-bottom: 30px;
}
/**********************************************************************************
**************************** PORTFOLIO SECTION *************************************
***********************************************************************************/
#portfolio .vertical-heading {
  margin-bottom: 80px;
}

.row.no-gutters [class*="col-"] {
  padding: 0;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-item img {
  width: 100%;
  height: auto;

  transition: all 0.5s ease;
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(92, 147, 32, 0.8);
  cursor: zoom-in;
  opacity: 0;
  transition: all 0.5s ease-in;
}
.portfolio-item-overlay-details {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.portfolio-item-overlay-details h3 {
  color: #f4f4f4;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  padding: 0;
  transition: all 0.4s linear;
  transform: translateY(-20%);
}
.portfolio-item-overlay-details span {
  display: inline-block;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  height: 6px;
  width: 30px;
  margin: 11px auto 5px auto;
}
.portfolio-item-overlay-details p {
  font-size: 17px;
  color: #fff;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  transition: all 0.4s linear;
  transform: translateY(20%);
}
.portfolio-item:hover img {
  transform: scale(1.1);
}
.portfolio-item:hover .portfolio-item-overlay {
  opacity: 1;
}
.portfolio-item:hover .portfolio-item-overlay-details h3 {
  transform: translateY(0);
}
.portfolio-item:hover .portfolio-item-overlay-details p {
  transform: translateY(0);
}

#isotope-filters {
  margin-bottom: 10px;
  padding: 20px 25px 20px 0;
}

#isotope-filters button {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  box-shadow: none;
  padding-right: 35px;
  outline: 0;
}
#isotope-filters button span {
  display: block;
  padding-bottom: 5px;
  transition: all 0.4s ease-in-out;
  border-bottom: solid 3px transparent;
}
#isotope-filters button.active span {
  border-color: #5c9320;
  color: #5c9320;
}
/**********************************************************************************
**************************** Testimonial SECTION *************************************
***********************************************************************************/
#testimonial {
  background: #f4f4f4;
}
#testimonial .vertical-heading {
  position: relative;
  top: -30px;
  right: -10px;
}
#reviews {
  position: absolute;
  top: -220px;
  left: -200px;
  background: #5c9320;
  width: 750px;
  height: 350px;
}
.row-01 {
  margin-bottom: 3rem;
}
.row-02 {
  margin-bottom: 1rem;
}
.review-content {
  color: #fff;
  padding: 50px;
}
.review-content i {
  font-size: 20px;
}
.review-content p {
  line-height: 1.5;
}

.row-03 img {
  height: 80px;
  border-radius: 50%;
}
.row-03 .client-desc {
  margin-top: 2rem;
}
.row-03 p {
  line-height: 0.5;
}
#reviews.owl-theme .owl-nav [class*="owl-"] {
  position: relative;
  top: -40px;
}
#reviews.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
  color: #fff;
}
/**********************************************************************************
**************************** News SECTION *************************************
***********************************************************************************/
#news .home-btn {
  margin-top: 3rem;
}
#news .blog {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#news .blog p {
  font-size: 1.5rem;
}
#news .blog p,
#news .blog a {
  margin-bottom: 2.3rem;
}
#news .blog hr {
  /*    width: 45px;*/
  height: 2px;
  background: #ddd;
  /*    margin: 0 auto;*/
  border: none;
}
#news .date {
  font-size: 11px;
}
#news .author img {
  border-radius: 50%;
}
#news .author .name {
  position: relative;
  top: -3px;
  font-size: 11px;
}

#journaling:before {
  content: "";
  background: url("../image/imagejournal4.jpeg") repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  min-height: 40vh;
}

.col-md-4 {
  width: 100%;
  /*    height: 30px;*/
  margin-bottom: 10px;
  margin-top: 10px;
  /*
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
*/
}

label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
  font-size: 40px;
  color: black;
}

input,
label {
  margin: 0.4rem 0;
  margin-left: 1rem;
}
